<% layout('layouts/Boilerplate') %>
        <div class="card offset-3 mb-3 shadow p-2" style="height: 600px; width:650px;">
        <h1 class="text-center">
            New Campground
        </h1>
            <form action="/campgrounds" method="post" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label><br>
                    <input type="text" name="title" id="title" class="form-control" required>
                    <div class="valid-feedback">
                        Good Choise!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="locations" class="form-label">Locations:</label> <br>
                    <input type="text" name="location" placeholder="city, state" id="locations" class="form-control"
                        required>
                    <div class="valid-feedback">
                        Amazing Location!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL:</label> <br>
                    <input type="file" name="image" placeholder="URL" id="image" class="form-control" required multiple>
                    <div class="valid-feedback">
                        Beauty!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label> <br>
                    <textarea type="text" name="description" placeholderdescription" id="description"
                        class="form-control" required></textarea>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" id="price" name="price" required>
                        <div class="valid-feedback">
                            Affordable!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-success">Add Campground</button>
                </div>
            </form>
        </div>