<%layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/css/inter.css">
<div class="row mt-5">
<div class="col-6 mt-5">
<div class="wrapper" style="width: 28rem; margin-left: 50px;">
    <div class="image">
    <img src="https://img.etimg.com/thumb/width-640,height-480,imgsize-847680,resizemode-75,msid-99593340/news/economy/policy/govt-to-set-up-panel-to-work-on-model-builder-buyer-agreement-official.jpg" class="card-img-top" alt="..." id="here">
    <a href="/register?owner=yes"><div class="content">
        <h1>Owner</h1>
    </div></a>
</div>
</div>
</div>
<div class="col-6 mt-5">
<div class="wrapper" style="width: 30rem; margin-left: 100px;">
    <div class="image">
    <img src="https://selling.house/wp-content/uploads/2023/04/SHsearch-home-house-inspect.jpg" class="card-img-top" alt="...">
    <a href="/register?owner=no"><div class="content">
        <h1>User</h1>
    </div></a>
</div>
</div>
</div>
</div>